.eval-comp{
  position: absolute;
  display: flex;
  top:128px;
  width: 100%;	
}

.form-row{
  width: 100%;
  display: flex;
}

.card-input-middle{
  margin-top: auto;
  margin-bottom: auto; 
}

.space-between {
    flex:1;
}