<div class=home-layout>
  <app-header (messageEvent)="barraNavegacionListener($event)"></app-header>
  <!--app-capture *ngIf="(user$ | async)?.rol ==='4'"></app-capture-->
  <app-capture *ngIf="visibilidadCapture"></app-capture>
  <app-classify *ngIf="visibilidadClassify"></app-classify>
  <app-register *ngIf="visibilidadCcontrato"></app-register>
  <app-evaluate *ngIf="visibilidadEvaluate"></app-evaluate>
  <app-mckinsey *ngIf="visibilidadMckinsey"></app-mckinsey>
  <app-view-all *ngIf="visibilidadVContratos"></app-view-all>
  <app-view-classification *ngIf="visibilidadVClasi"></app-view-classification>
  <app-view-evaluation *ngIf="visibilidadVEval"></app-view-evaluation>
  <app-view-mkeval *ngIf="visibilidadVMkEval"></app-view-mkeval>
</div>
<app-footer></app-footer>