.classi-comp{
  position: absolute;
  display: flex;
  top:128px;
  width: 100%;
}

.class-card{
  width: 40%;
}

.class-act-form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
}

.form-row{
  width: 100%;
  display: flex;
}
.space-between {
    flex:1;
}