<div class="container">
  <div class="card">
      <div class="card-body">
          <span class="h5">Lista de Adjuntos de Patentes</span>
          <h5 style="margin-top: 10px;" *ngIf="patentes.length == 0">No hay datos para mostrar</h5>
          <table *ngIf="patentes.length > 0" class="table table-striped mt-5">
              <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Archivo Petitorio</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let patente of patentes">
                  <td>{{ patente.titulo }}</td>
                  <td>{{ patente.descripcion}}</td>
                  <td>
                    <i class="fas fa-edit text-info mr-2" [routerLink]="['/cargar-formatos/', patente.id]"></i>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>