<div class="container pt-2">
    <div class="row">
        <div class="abs-center">
            <div class="card text-center">
                <div class="card-body">
                    <h4>Agregar Producto o procedimiento para patente</h4>
                    <span *ngIf="submitted && crearPatente.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt-4" [formGroup]="crearPatente" (ngSubmit)="agregarEditarPatente()">
                        <input type="text" class="form-control form-control mt-1" formControlName="titulo" placeholder="Titulo">
                        <input type="textarea" class="form-control form-control mt-1" formControlName="descripcion" placeholder="Descripcion de patente">
                        <label for="fechaSolicitud">Fecha de Solicitud:</label>
                        <input type="date" class="form-control mt-1" formControlName="fechaSolicitud" placeholder="Fecha de Solicitud">
                        <label for="fechaPublicacion">Fecha de Publicacion:</label>
                        <input type="date" class="form-control mt-1" formControlName="fechaPublicacion" placeholder="Fecha de Publicacion">
                        <label for="fechaCaducidad">Fecha de Caducidad:</label>
                        <input type="date" class="form-control mt-1" formControlName="fechaCaducidad" placeholder="Fecha de Caducidad">
                        <label for="fechaPresentacion">Fecha de Presentacion:</label>
                        <input type="date" class="form-control mt-1" formControlName="fechaPresentacion" placeholder="Fecha de Presentacion">
                        <label for="creadores">Creadores:</label>
                        <input type="textarea" class="form-control mt-1" formControlName="creadores" placeholder="Creadores">
                        <div class="mt-1">
                            <button type="submit" class="btn btn-success">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>










