<div class="register-comp">
  <mat-card>
    <mat-card-title>Crear contrato colaborador Clave</mat-card-title>
    <mat-card-content>
      <div [formGroup]="contratoForm">
        <div class=form-row>
          <mat-label class="card-input-middle">El colaborador clave</mat-label>
          <span class="space-between"></span>
          <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="nombreCol" required>
            <!--mat-error *ngIf="loginForm?.get('email')?.invalid">{{getErrorMessage('email', 'email')}}</mat-error-->
          </mat-form-field>
        </div>
        <div class=form-row>
          <mat-label class="card-input-middle">con el cargo</mat-label>  
          <span class="space-between"></span>
          <mat-form-field>
            <input matInput placeholder="Cargo" formControlName="cargoCol" required>
            <!--mat-error *ngIf="loginForm?.get('email')?.invalid">{{getErrorMessage('email', 'email')}}</mat-error-->
          </mat-form-field>  
        </div>
        <div class=form-row>
          <mat-label class="card-input-middle">identificado con</mat-label>  
          <mat-form-field>  
            <mat-select formControlName="tipoIdCol" required>
              <mat-option value="Cedula de Ciudadania">Cedula de Ciudadania</mat-option>
              <mat-option value="Tarjeta de Identidad">Tarjeta de Identidad</mat-option>
              <mat-option value="Cedula de Extranjería">Cedula de Extranjería</mat-option>
              <mat-option value="Pasaporte">Pasaporte</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Identificación" formControlName="idCol" required>
            <!--mat-error *ngIf="loginForm?.get('email')?.invalid">{{getErrorMessage('email', 'email')}}</mat-error-->
          </mat-form-field>  
        </div>
        <div class=form-row>
          <mat-label class="card-input-middle">el cual esta vigente hasta</mat-label>
          <span class="space-between"></span>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="ven" disabled>
            <mat-datepicker-toggle matSuffix [for]="ven"></mat-datepicker-toggle>
            <mat-datepicker #ven disabled="false"></mat-datepicker>
          </mat-form-field>   
        </div>
        <div class=form-row>
          <mat-label>Cargar contrato</mat-label>
          <span class="space-between"></span>
          <input type="file" (change)="upload($event)" accept=".pdf" required/>
        </div>
        <br>
        <div class=form-row style="height: 80;">
            <mat-label>Tiene la clausula:</mat-label>
            <textarea matInput placeholder="copie aqui la clausula de proteccion tecnologica" formControlName="clausulaProte" required></textarea>
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <button mat-raised-button color="primary" (click)="saveContractOnDb()">Guardar Contrato</button>
    </mat-card-content>
  </mat-card>
</div>