<mat-toolbar class="titulo" color="primary">
  <mat-toolbar-row>
  	<span>ERP Capacidades Tecnológicas</span>
  	<span class="space-between"></span>
  	<button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-menu-item class="barra-usr" [mat-menu-trigger-for]="gestion">Gestión Inventario Tecnológico</button>
    <button mat-menu-item class="barra-usr" [mat-menu-trigger-for]="patentes">Gestión Protección Tecnológica</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>Inicio</button>
  <button mat-menu-item>Perfil</button>
</mat-menu>
<mat-menu x-position="before" #patentes="matMenu">
  <button mat-menu-item (click)="mostrarVista('cargacontrato')">Cargar Contratos</button>
  <button mat-menu-item (click)="mostrarVista('vercontratos')">Listar Contratos</button>
  <button mat-menu-item (click)="mostrarVista('crearpatentes')">Registrar patentes</button>
  <button mat-menu-item (click)="mostrarVista('listarpatentes')">Listar patentes</button>
  <!--button mat-menu-item *ngIf="(user$ | async)?.rol ==='4' || (user$ | async)?.rol ==='2' || (user$ | async)?.rol ==='1'" (click)="mostrarVista('cargarformatos')">Cargar Formatos de patentes</button>
  <button mat-menu-item *ngIf="(user$ | async)?.rol ==='4' || (user$ | async)?.rol ==='1'" (click)="mostrarVista('listarformatos')">Listar Adjuntos de patentes</button-->

</mat-menu>
<mat-menu x-position="before" #gestion="matMenu">
  <button mat-menu-item (click)="mostrarVista('capturaactivo')">Ingresar activos</button>
  <button mat-menu-item (click)="mostrarVista('clasificaactivo')">Clasificar activos</button>
  <button mat-menu-item (click)="mostrarVista('verClasificacion')">Ver Clasificación</button>
  <button mat-menu-item (click)="mostrarVista('evaluaactivo')">Evaluar activos</button>
  <button mat-menu-item (click)="mostrarVista('verEvaluacion')">Ver Evaluación</button>
  <button mat-menu-item (click)="mostrarVista('evaluamckinsey')">Realizar Análisis McKinsey</button>
  <button mat-menu-item (click)="mostrarVista('verMkEvaluacion')">Ver valores McKinsey</button>
</mat-menu>