<div class="container pt-2">
    <div class="row">
        <div class="abs-center">
            <div class="card text-center">
                <div class="card-body">
                      <h5>Lista de Formatos esenciales para patentes</h5>
                      <div><p>En la siguiente dirección encontrará los formatos para patentes y nuevas creaciones:  
                      <br>
                      <a href="https://www.sic.gov.co/formatos-patentes" target="_blank">www.sic.gov.co/formatos-patentes</a></p>
                      </div>
                      <div><p>El link de la Oficina Colombiana de Propiedad Industrial:
                      <br> 
                      <a href="http://sipi.sic.gov.co/" target="_blank">http://sipi.sic.gov.co</a></p>
                      </div>
                        <h5 mt-4>Cargar petitorios de patentes</h5>
                        <input type="file" accept=".pdf .png, .jpg,.jpeg" multiple (change)="cargarFormatoPetitorio($event)" id="petitorios">
                        <label for="petitorios"></label>
                        <h5 mt-4>Cargar poderes a abogados</h5>
                        <input type="file" accept=".pdf .png, .jpg,.jpeg" multiple (change)="cargarFormatoPoder($event)" id="poderes">
                        <label for="poderes"></label>
                        <h5 mt-4>Cargar Solicitudes Nacionales</h5>
                        <input type="file" accept=".pdf .png, .jpg,.jpeg" multiple (change)="cargarFormatosSolNal($event)" id="sol_nacionales">
                        <label for="sol_nacionales"></label>
                        <h5 mt-4>Cargar Solicitudes Internacionales</h5>
                        <input type="file" accept=".pdf .png, .jpg,.jpeg" multiple (change)="cargarFormatosSolIntnal($event)" id="sol_internacionales">
                        <label for="sol_internacionales"></label>
                        <button type="text" class="btn btn-secondary mr-3" routerLink="/home">Ir a Home</button>
                </div>
            </div>
        </div>
    </div>
</div>


      