<div class="container pt-2">
        <div class="row">
            <div class="abs-center">
                <div class="card text-center">
                    <div class="card-body">
                      <h5>Lista de Formatos esenciales para patentes</h5>
                      <p>En la siguiente dirección encontrará los formatos para patentes y nuevas creaciones:</p>
                      <a href="https://www.sic.gov.co/formatos-patentes" target="_blank">www.sic.gov.co/formatos-patentes</a>.
                      <p>El link de la Oficina Colombiana de Propiedad Industrial:</p>
                      <a href="http://sipi.sic.gov.co/" target="_blank">http://sipi.sic.gov.co</a>.  
                        <h4>Agregar Producto o procedimiento para patente</h4>
                        <span *ngIf="submitted">TODO BIEN</span>
                        <form class="mt-4" [formGroup]="crearPatente" (ngSubmit)="agregarEditarPatente()">
                            <input type="text" class="form-control form-control mt-1" formControlName="titulo" placeholder="Titulo">
                            <input type="textarea" class="form-control form-control mt-1" formControlName="descripcion" placeholder="Descripcion de patente">
                            <label for="fechaSolicitud">Fecha de Solicitud:</label>
                            <input type="date" class="form-control mt-1" formControlName="fechaSolicitud" placeholder="Fecha de Solicitud">
                            <label for="fechaPublicacion">Fecha de Publicacion:</label>
                            <input type="date" class="form-control mt-1" formControlName="fechaPublicacion" placeholder="Fecha de Publicacion">
                            <label for="fechaCaducidad">Fecha de Caducidad:</label>
                            <input type="date" class="form-control mt-1" formControlName="fechaCaducidad" placeholder="Fecha de Caducidad">
                            <label for="fechaPresentacion">Fecha de Presentacion:</label>
                            <input type="date" class="form-control mt-1" formControlName="fechaPresentacion" placeholder="Fecha de Presentacion">
                            <label for="creadores">Creadores:</label>
                            <input type="textarea" class="form-control mt-1" formControlName="creadores" placeholder="Creadores">
                            <div class="mt-1">
                                <button type="submit" class="btn btn-success">Agregar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</div>


      