<div class="cargar-formatos-comp">
    <mat-card>
      <mat-card-title>Lista de Formatos esenciales para patentes</mat-card-title>
      <mat-card-content>
        <p>En la siguiente dirección encontrará los formatos para patentes y nuevas creaciones:</p>
        <a href="https://www.sic.gov.co/formatos-patentes" target="_blank">www.sic.gov.co/formatos-patentes</a>.
        <p>El link de la Oficina Colombiana de Propiedad Industrial:</p>
        <a href="http://sipi.sic.gov.co/" target="_blank">http://sipi.sic.gov.co</a>.  
      </mat-card-content>
    
    
      <!--<form class="mt-4" [formGroup]="crearPatente" (ngSubmit)="agregarEditarPatente()">
        <label for="rutaPetitorio">Archivo petitorio:</label>
        <input type="file" class="form-control mt-1" formControlName="rutaPetitorio" (change)="upload($event)" accept=".pdf" required/>
            <div class="mt-1">
            <button type="submit" class="btn btn-success">Agregar</button>
            </div>
        </form>-->
    </mat-card>
</div>