/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/

.capture-comp{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  top:128px;
  width: 100%;
  background-color: white;
}
.add-activos-con{
  display: flex;
}

.example-container {
  left:0;
  top:164px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-row:nth-child(even){
  background-color: rgb(216, 216, 216);
}
      
.mat-row:nth-child(odd){
  background-color: white;
}