.capture-comp{
  position: absolute;
  display: flex;
  flex-direction:column;
  top:64px;
}
.add-activos-con{
  display: flex;
}

.example-container {
  left:0;
  top:164px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

