.mat-card-cvr{
  //top:50%;
  width:100%;
  text-align:center;
  position:fixed;
}
.login{
  //margin:0 auto;
  display:inline-block;
}

.login-container {
  display: flex;
  flex-direction: column;
  > * {
    width: 100%;
  }
}
 //align-items: center;
 //justify-content: center;