.mat-card-cvr{
  
  width:100%;
  text-align:center;
  position:fixed;
}
.login{
  display:inline-block;
}

.login-container {
  display: flex;
  flex-direction: column;
  > * {
    width: 100%;
  }
}